.user-container {
    display: flex;
}


.orders-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.user-data-side {
    display: block;
    justify-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .user-data-side a {
        display: flex;
        justify-content: center;
    }
}