main {
    min-height: 100vh;
}

.main-auth-layout {
    min-height: 100vh;
}


@media (min-width: 768px) {}

/* Ajustes para PC */
@media (min-width: 1024px) {
    main {
        min-height: 100vh;
        margin: 0 5%;
    }

    .main-auth-layout {
        min-height: 100vh;
        margin: 0 5%;
    }

}