.dashboard-data-side {
    display: block;
    justify-items: center;
    width: 100%;
}

.btn-create-category {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 40px;
}
.btn-update-category {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 5px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashboard-data-side a:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    .dashboard-data-side a {
        display: flex;
        justify-content: center;
        margin-left: 0px;

    }
}